.idea/
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/apps/tic-tac-toe/config/secrets/prod/prod.decrypt.private.php
/apps/tic-tac-toe/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
